* {
  margin: 0;
  padding: 0;
  background-color: darkgoldenrod;
}
.content {
  margin: 5vh 10vw;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.banner {
  display: inline-block;
  position: relative;
  margin-bottom: 5rem;
  margin-left: -10vw;
  margin-right: -10vw;
  width: 100vw;
  height: 10vh;
}

.bannerImg {
  display: block;
  width: 100vw;
  height: 10vh;
}

.bannerText {
  color: rgb(63, 55, 33);
  background-color: rgba(255, 235, 205, 0.4);

  border-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(255, 235, 205, 0.7);
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.bannerTextBox {
  /* Needed just to hide corners under box-radius */
  background-color: rgba(255, 235, 205, 0.4);
  border-radius: 4px;
  margin-left: 10vw;
  margin-right: 10vw;
  position: absolute;
  top: 35%;
  /* Stop the text overflowing */
  font-size: max(2vh);
}

/* Position links */
.bannerTextBox.box1 {
  left: 5%;
}

.bannerTextBox.box2 {
  left: 35%;
}

.bannerTextBox.box3 {
  left: 65%;
}

.header {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1vh;
  box-shadow: 0px 0px 10px 3px blanchedalmond;
  flex-basis: auto;
  overflow: hidden;
}

h1 {
  color: blanchedalmond;
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}

h2 {
  color: rgb(63, 55, 33);
  text-align: left;
  font-weight: 900;
  font-size: 1.5em;
  margin: 100px 0;
  border-bottom: 2px dotted blanchedalmond;
}

#subTitleFlex2 {
  margin-bottom: 4vh;
  margin-top: 6vh;
}

.header1,
.header2,
.header3,
.header4 {
  padding: 5px;
  align-content: center;
  /* Turn off flex auto, sharing space equally and 
  allowing shrink and grow to fit container. 
  Same as writing flex: 1; */
  flex: 1 1 0;
  display: flex;
}

.header2,
.header3 {
  /* Set these items to take twice as much 
  of the available container space*/
  flex: 2 2 0;
}

.container.header img,
.container.header h1 {
  /* Allow the images to stretch to fill containers */
  flex: 1 1 0;
  align-content: center;
}

.blockA {
  display: flex;
  max-height: 175vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 25px;
  margin-bottom: 75px;
  /* add an invisible scroll bar for overflow */
  overflow-y: auto;
  scrollbar-width: none;
}

.blockB {
  display: flex;
  height: 600px;
  justify-content: center;
}

.blockB1,
.blockB2 {
  justify-content: center;
  align-content: center;
}

.blockB1 {
  margin: 0 50px;
}

.blockB2 {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 25px;
}

.topRow,
.bottomRow {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.rotate90 {
  transform: rotate(90deg);
}

.blockC {
  display: flex;
  width: 900px;
  height: 500px;
  margin: auto;
  margin-left: 50px;
  justify-content: center;
  position: relative;
  left: 30%;
}

.rotateBack {
  transform: rotate(-90deg);
}

/* Next two relative to parent following rotate */
p.organP {
  position: relative;
  left: -27%;
  top: 100%;
  max-height: 2em;
  margin-top: 2%;
}

.organ {
  position: relative;
  left: 14.25%;
  bottom: 40%;
}

.footerImgBox {
  display: flex;
  justify-content: flex-start;
  column-gap: 5vw;
  margin-left: 2vw;
}

p {
  color: blanchedalmond;
  margin-bottom: 25px;
  font-size: 1.1em;
}

.sixtiesP {
  margin-left: 2vw;
}

.sixties {
  min-height: 30vh;
  min-width: none;
  max-height: 35vh;
  max-width: 30vw;
}

/* Changes the order of items in header for smaller screen/extreme zoom */
@media only screen and (max-width: 600px) {
  .header2 {
    order: -1;
  }
}

.formContainer {
  border: 2px double rgb(177, 82, 98);
  padding: 10px;
  margin: 5vw;
  margin-top: 10px;
}

form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 8px;
}

.detailsName {
  flex-grow: 1;
  flex-basis: 120px;
}

.detailsEmail {
  flex-grow: 3;
  flex-basis: 170px;
}

button {
  flex-grow: 1;
  flex-basis: 70px;
  height: 2.25rem;
  background-color: blanchedalmond;
  border: none;
  color: rgb(177, 82, 98);
  font-size: 0.9rem;
  font-weight: 600;
}

label {
  font-weight: 500;
  color: rgb(63, 55, 33);
}

input {
  display: block;
  width: 100%;
  margin-top: 4px;
  height: 2rem;
  border: 1px dashed pink;
  box-shadow: inset 0px 0px 5px 1px pink;
  color: rgb(63, 55, 33);
}

footer {
  margin-top: 10vh;
}

.nav {
  border: 2px dotted blanchedalmond;
  padding: 5px 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid pink;
  column-gap: 15px;
}

li {
  text-align: center;
  list-style: none;
  flex-basis: 100px;
  color: rgb(177, 82, 98);
  font-weight: 700;
}

/* Forces all extra space between this object and the next */
.marginRight {
  margin-right: auto;
}

a:link {
  color: rgb(63, 55, 33);
}

a:hover {
  color: goldenrod;
}

a:visited {
  color: rgb(120, 88, 7);
}

a:active {
  color: blanchedalmond;
}
