* {
  margin: 0;
  padding: 0;
  background-color: darkgoldenrod;
}
.content {
  margin: 5vh 10vw;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: darkgoldenrod;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.bannerImg {
  min-width: 100vw;
  max-height: 8vw;
}

/* TODO:
Change order of items with @media when .header reaches 
a large size so that title shows */
.header {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 100px;
  box-shadow: 0px 0px 10px 3px blanchedalmond;
  flex-basis: auto;
  overflow: hidden;
}

h1 {
  color: blanchedalmond;
  text-align: center;
  font-weight: 900;
}

h2 {
  color: rgb(63, 55, 33);
  text-align: left;
  font-weight: 900;
  font-size: 2em;
  margin: 100px 0;
  border-bottom: 2px dotted blanchedalmond;
}

.header1,
.header2,
.header3,
.header4 {
  padding: 5px;
  align-content: center;
  /* Turn off flex auto, sharing space equally and 
  allowing shrink and grow to fit container. 
  Same as writing flex: 1; */
  flex: 1 1 0;
  display: flex;
}

.header2,
.header3 {
  /* Set these items to take twice as much 
  of the available container space*/
  flex: 2 2 0;
}

.container.header img,
.container.header h1 {
  /* Allow the images to stretch to fill containers */
  flex: 1 1 0;
  align-content: center;
}

.blockA {
  display: flex;
  max-height: 175vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 25px;
  margin-bottom: 75px;
  /* add an invisible scroll bar for overflow */
  overflow-y: auto;
  scrollbar-width: none;
}

.blockB {
  display: flex;
  height: 600px;
  justify-content: center;
}

.blockB1,
.blockB2 {
  justify-content: center;
  align-content: center;
}

.blockB1 {
  margin: 0 50px;
}

.blockB2 {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 25px;
}

.topRow,
.bottomRow {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.rotate90 {
  transform: rotate(90deg);
}

.blockC {
  display: flex;
  width: 900px;
  height: 500px;
  margin: auto;
  margin-left: 50px;
  justify-content: center;
  position: relative;
  left: 30%;
}

.rotateBack {
  transform: rotate(-90deg);
}

/* Next two relative to parent following rotate */
p.organP {
  position: relative;
  left: -27%;
  top: 100%;
  max-height: 2em;
  margin-top: 2%;
}

.organ {
  position: relative;
  left: 14.25%;
  bottom: 40%;
}

.footerImgBox {
  display: flex;
  justify-content: flex-start;
  column-gap: 5vw;
  margin-left: 2vw;
}

p {
  color: blanchedalmond;
  margin-bottom: 25px;
  font-size: 1.3rem;
}

.sixtiesP {
  margin-left: 2vw;
}

.sixties {
  min-height: 30vh;
  min-width: none;
  max-height: 35vh;
  max-width: 30vw;
}

/* Changes the order of items in header for smaller screen/extreme zoom */
@media only screen and (max-width: 600px) {
  .header2 {
    order: -1;
  }
}
